<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>BurgerTime!</title>
	</head>

	<body>

		<img src="/assets/img/burger_beauty.jpeg" width="400px" id="burger_beauty">
		
		{{{ body }}}

		<footer class="burgerFooter">
			<div class="footer-copyright">
				<div class="container">
					<span class="copyright">@2018 PDScode</span>
					<a href="https://github.com/PaulDakotaSchwartz/burger">BurgerTime</a>
				</div>
			</div>
		</footer>
	</body>
</html>
